@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --first-family: "Roboto", sans-serif;
    --second-family: "Forum", sans-serif;
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-gold-active: #7e6c51;
}

/* Подключение констант
var(--first-family)
var(--second-family)
var(--bg-dark)
var(--dark-red)
var(--font-gold)
*/

* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#header_general {
    width: 100%;
    height: 150px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;
    z-index: 5;*/
}
@media (max-width: 1060px) {
  #header_general {
    height: 130px;
  }
}
@media (max-width: 850px) {
  #header_general {
    height: 110px;
  }
}

#header_content {
    max-width: 1440px;
    width: 100%;
    height: 150px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 1060px) {
  #header_content {
    height: 130px;
  }
}
@media (max-width: 850px) {
  #header_content {
    height: 110px;
  }
}

#header_logo {
    width: 199px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & #header_logo_word {
      transition: 0.5s;
    }

    & path {
      transition: 0.5s;
    }
}
#header_logo:hover {
  & #header_logo_word {
    color: var(--font-gold);
    transition: 0.5s;
  }

  & path {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

#header_logo_word {
    width: 125px;
    max-height: 31px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 850px) {
  #header_logo_word {
    line-height: 179%;
  }
}

#header_nav_burger_toggle {
  display: none;
}
@media (max-width: 1060px) {
  #header_nav_burger_toggle_button {
    width: 32px;
    height: 18px;
    display: block;
    position: relative;
  }

  #header_nav_burger_toggle_button::after, #header_nav_burger_toggle_button::before, #header_nav_burger_toggle_button span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }

  #header_nav_burger_toggle_button::before {
    content: "";
    top: 0;
  }

  #header_nav_burger_toggle_button::after {
    content: "";
    bottom: 0;
  }

  #header_nav_burger_toggle_button span {
    top: 8px;
  }

  #header_nav_burger_toggle:checked ~ #header_nav_burger_toggle_button::after {
    transform: rotate(45deg);
    bottom: 8px;
  }

  #header_nav_burger_toggle:checked ~ #header_nav_burger_toggle_button::before {
    transform: rotate(-45deg);
    top: 8px;
  }

  #header_nav_burger_toggle:checked ~ #header_nav_burger_toggle_button span {
    transform: rotate(-45deg);
    top: 8px;
  }
}

#header_nav {
    max-width: 775px;
    width: 100%;
    height: 26px;

    & ul {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 55px;
    }

    & svg {
      display: none;
    }
}
@media (max-width: 1060px) {
  #header_nav {
    max-width: 297px;
    width: 100%;
    min-height: 585px;
    background-color: var(--bg-dark);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    top: 130px;
    transition: 0.5s;

    left: -100vh;

    & ul {
      max-width: 122px;
      width: 100%;
      min-height: 263px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      row-gap: 23.6px;
      transition: 0.5s;
      margin-top: 11.8%;
      margin-left: 18.4%;      
    }

    & li {
      width: 100%;
      height: 23px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    & svg {
      display: block;
    }
  }

  #header_nav_burger_toggle:checked ~ #header_nav {
    left: 0;
    transition: 0.5s;
  }
}

#header_nav li {
  & .nav_button {
    transition: 0.5s;
  }

  & path {
    transition: 0.5s
  }
}
#header_nav li:hover {
  & .nav_button {
    color: var(--font-gold);
    transition: 0.5s;
  }

  & path {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

.nav_button {
  font-family: var(--first-family);
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.075em;
  color: #fff;
}
@media (max-width: 1060px) {
  .nav_button {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#welcome {
  width: 100%;
  min-height: 810px;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1060px) {
  #welcome {
    min-height: 585px;
  }
}
@media (max-width: 850px) {
  #welcome {
    min-height: 861px;
  }
}

#welcome_content {
  max-width: 1440px;
  width: 100%;
  min-height: 810px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
@media (max-width: 1060px) {
  #welcome_content {
    max-width: 1024px;
    min-height: 585px;
  }
}
@media (max-width: 850px) {
  #welcome_content {
    max-width: 768px;
    min-height: 861px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

#welcome_content_heading {
  width: 598px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  position: relative;
  z-index: 1;
  top: 150px;
  /*row-gap: 25px;*/
}
@media (max-width: 1060px) {
  #welcome_content_heading {
    width: 396px;
    height: 343px;
    top: 50px;
  }
}
@media (max-width: 850px) {
  #welcome_content_heading {
    width: 338px;
    height: 165px;
    top: auto;
    align-items: center;
  }

  form {
    display: none;
  }
}

#welcome_content_heading_word1 {
  color: #fff;
  width: 598px;
  height: 180px;
}
@media (max-width: 1060px) {
  #welcome_content_heading_word1 {
    width: 396px;
    height: 180px;
  }
}
@media (max-width: 850px) {
  #welcome_content_heading_word1 {
    width: 328px;
    height: 120px;
    font-size: 39.6px;
    text-align: center;
  }
}

#welcome_content_heading_word2 {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.07em;
  color: #fff;
}
@media (max-width: 1060px) {
  #welcome_content_heading_word2 {
    font-size: 24px;
  }
}
@media (max-width: 850px) {
  #welcome_content_heading_word2 {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

#welcome_content_heading_button {
  border-radius: 10px;
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
#welcome_content_heading_button:hover {
  background-color: var(--font-gold);
  color: var(--bg-dark);
  transition: 0.5s;
}
@media (max-width: 1060px) {
  #welcome_content_heading_button {
    width: 300px;
    height: 60px;
    margin-top: 25px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 850px) {
  #welcome_content_heading_button {
    display: none;
  }
}

#welcome_content_images {
  max-width: 1000px;
  width: 100%;
  height: 810px;
  z-index: 0;
  position: absolute;
  left: calc(100% - 1000px);
  bottom: calc(100% - 810px);
}
@media (max-width: 1060px) {
  #welcome_content_images {
    max-width: 700px;
    width: 100%;
    height: 585px;
    left: calc(100% - 700px);
    bottom: calc(100% - 585px);
  }
}
@media (max-width: 850px) {
  #welcome_content_images {
    max-width: 728px;
    height: 646px;
    left: auto;
    bottom: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

#welcome_content_images_imgwelcome {
  background-image: url(../images/welcome_img.png);
  max-width: 1000px;
  width: 100%;
  max-height: 750px;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1060px) {
  #welcome_content_images_imgwelcome {
    max-width: 700px;
    max-height: 525px;
  }
}
@media (max-width: 850px) {
  #welcome_content_images_imgwelcome {
    background-image: url(../images/welcome_img2.png);
    max-width: 728px;
    max-height: 546px;
    position: relative;
    order: -1;
  }
}

#welcome_content_images_slider {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 120px;
  background-color: var(--bg-dark);
  top: calc(100% - 120px);
  left: calc(100% - 600px);
  display: flex;
  justify-content: center ;
  align-items: center;
  column-gap: 55px;
}
@media (max-width: 1060px) {
  #welcome_content_images_slider {
    max-width: 700px;
    width: 100%;
    height: 120px;
    left: calc(100% - 700px);
    column-gap: 45px;
    justify-content: end;
  }
}
@media (max-width: 850px) {
  #welcome_content_images_slider {
    max-width: 728px;
    height: 100px;
    left: auto;
    column-gap: 45px;
    justify-content: center;
    position: relative;
    top: auto;
  }
}

#slider_number {
  width: 76px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 182%;
    text-transform: uppercase;
    color: #fff;
  }
}
@media (max-width: 1060px) {
  #slider_number {
    width: 71px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-size: 20px;
      line-height: 200%;
    }
  }
}

#slider_choise {
  width: 180px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1060px) {
  #slider_choise {
    width: 160px;
    height: 12px;
  }
}

.slider_choise_button {
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.slider_choise_button:hover {
  background-color: var(--font-gold);
  transition: 0.5s;
}
@media (max-width: 1060px) {
  .slider_choise_button {
    width: 12px;
    height: 12px;
  }
}

#slider_choise_active {
  background-color: var(--font-gold-active);
}

#slider_change {
  width: 80px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1060px) {
  #slider_change {
    margin-right: 75px;
  }
}
@media (max-width: 850px) {
  #slider_change {
    margin-right: 0px;
  }
}

.slider_change_arrow {
  cursor: pointer;
  transition: 0.5s;
}
.slider_change_arrow:hover {
  fill: var(--font-gold);
  transition: 0.5s;
}

#virtual {
  width: 100%;
  min-height: 1266px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #fff;
}
@media (max-width: 1060px) {
  #virtual {
    min-height: 1433px;
  }
}
@media (max-width: 850px) {
  #virtual {
    min-height: 1226px;
  }
}

#virtual_content {
  max-width: 1440px;
  width: 100%;
  min-height: 1116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 75px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
}
@media (max-width: 1060px) {
  #virtual_content {
    max-width: 984px;
    min-height: 1313px;
    margin-top: 60px;
    margin-bottom: 60px;
    row-gap: 60px;
  }
}
@media (max-width: 850px) {
  #virtual_content {
    max-width: 728px;
    min-height: 1146px;
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 40px;
  }
}

#virtual_content_heading {
  width: 100%;
  height: 115px;
  border-bottom: 3px solid var(--dark-red);
}
@media (max-width: 1060px) {
  #virtual_content_heading {
    height: 95px;
  }
}
@media (max-width: 850px) {
  #virtual_content_heading {
    height: 80px;
  }
}

#virtual_content_heading_word {
  color: var(--font-gold);
}
@media (max-width: 1060px) {
  #virtual_content_heading_word {
    line-height: 150%;
  }
}

#virtual_content_cards {
  max-width: 1440px;
  width: 100%;
  min-height: 923px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px 60px;
}
@media (max-width: 1060px) {
  #virtual_content_cards {
    max-width: 768px;
    min-height: 1155px;
    gap: 60px 108px;
  }
}
@media (max-width: 850px) {
  #virtual_content_cards {
    max-width: 616px;
    min-height: 983px;
    gap: 40px 56px;
    margin-bottom: 40px;
  }
}

.virtual_card {
  width: 440px;
  height: 424px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;

  & .virtual_card_line {
    transition: 0.5s;
  }
}
.virtual_card:hover {
  & .virtual_card_line {
    width: 100%;
    transition: 0.5s;
  }
}
@media (max-width: 1060px) {
  .virtual_card {
    width: 330px;
    height: 345px;
  }
}
@media (max-width: 850px) {
  .virtual_card {
    width: 280px;
    height: 301px;
  }
}

.virtual_card_img {
  width: 440px;
  height: 285px;
  margin-bottom: 15px;
}
@media (max-width: 1060px) {
  .virtual_card_img {
    width: 330px;
    height: 215px;
  }
}
@media (max-width: 850px) {
  .virtual_card_img {
    width: 280px;
    height: 180px;
  }
}

.virtual_card_word2 {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 22px;
  color: #000;
}
@media (max-width: 1060px) {
  .virtual_card_word2 {
    font-weight: 200;
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .virtual_card_word2 {
    font-size: 18px;
  }
}

.virtual_card_word3 {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 18px;
  color: #000;
}
@media (max-width: 1060px) {
  .virtual_card_word3 {
    font-weight: 200;
    font-size: 16px;
  }
}

.virtual_card_line {
  width: 300px;
  height: 5px;
  background-color: var(--dark-red);
}
@media (max-width: 1060px) {
  .virtual_card_line {
    width: 150px;
  }
}

#explore {
  width: 100%;
  min-height: 865px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--bg-dark);
}
@media (max-width: 1060px) {
  #explore {
    min-height: 1149px;
  }
}
@media (max-width: 850px) {
  #explore {
    min-height: 908px;
  }
}

#explore_content {
  max-width: 1440px;
  width: 100%;
  min-height: 715px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 20px;
  margin-right: 20px;
  column-gap: 60px;
  flex-wrap: wrap;
  row-gap: 62px;
}
@media (max-width: 1060px) {
  #explore_content {
    max-width: 984px;
    min-height: 1029px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 850px) {
  #explore_content {
    max-width: 728px;
    min-height: 828px;
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 40px;
  }
}

#explore_content_heading {
  max-width: 660px;
  width: 100%;
  /*min-height: 715px;*/
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 1060px) {
  #explore_content_heading {
    max-width: 984px;
    min-height: 267px;
    row-gap: 0px;
  }
}
@media (max-width: 850px) {
  #explore_content_heading {
    max-width: 728px;
    min-height: 83px;
    row-gap: 20px;
  }
}

#explore_content_heading_general_word {
  color: #fff;
}
@media (max-width: 1060px) {
  #explore_content_heading_general_word {
    line-height: 150%;
  }
}

#explore_content_heading_line {
  max-width: 660px;
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
  margin-bottom: 50px;
}
@media (max-width: 1060px) {
  #explore_content_heading_line {
    max-width: 984px;
    margin-bottom: 60px;
    margin-top: 20px;
  }
}
@media (max-width: 850px) {
  #explore_content_heading_line {
    max-width: 728px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.explore_content_heading_words {
  max-width: 660px;
  width: 100%;
  min-height: 77px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.6px;
  line-height: 175%;
  color: #fff;

  & u {
    text-decoration: none;
    color: #caaa7d;
  }
}
@media (max-width: 1060px) {
  .explore_content_heading_words {
    max-width: 984px;
    min-height: 39px;
    font-size: 19.6px;

    & br {
      display: none;
    }
  }

  #explore_content_heading_word3 {
    display: none;
  }
}
@media (max-width: 850px) {
  .explore_content_heading_words {
    display: none;
  }
}

#explore_content_heading_images {
  max-width: 720px;
  width: 100%;
  min-height: 700px;
  /*display: flex;
  align-items: end;*/
  position: relative;
  margin-top: 15px;
}
@media (max-width: 1060px) {
  #explore_content_heading_images {
    margin-top: 0px;
  }
}
@media (max-width: 850px) {
  #explore_content_heading_images {
    max-width: 728px;
    min-height: 705px;
  }
}

#explore_content_img1 {
  max-width: 440px;
  width: 100%;
  min-height: 700px;
  position: absolute;
  z-index: 1;
}
@media (max-width: 850px) {
  #explore_content_img1 {
    max-width: 441px;
    min-height: 705px;
  }
}

#explore_content_img2 {
  max-width: 720px;
  width: 100%;
  min-height: 700px;
  position: absolute;
  z-index: 0;
}
@media (max-width: 850px) {
  #explore_content_img2 {
    max-width: 728px;
    min-height: 705px;
  }
}

#explore_content_img3 {
  background-image: url(../images/ExploreImg3.svg);
  max-width: 39px;
  width: 100%;
  min-height: 700px;
  position: absolute;
  z-index: 2;
  right: calc(36%);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 850px) {
  #explore_content_img3 {
    min-height: 705px;
    right: calc(37%);
  }
}

#video {
  width: 100%;
  min-height: 1396px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media (max-width: 1500px) {
  #video {
    min-height: 1001px;
  }
}
@media (max-width: 975px) {
  #video {
    min-height: 837px;
  }
}

#video_content {
  max-width: 1440px;
  width: 100%;
  min-height: 1246px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
  margin-bottom: 75px;
}
@media (max-width: 1500px) {
  #video_content {
    min-height: 881px;
  }
}
@media (max-width: 1060px) {
  #video_content {
    max-width: 984px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 975px) {
  #video_content {
    max-width: 728px;
    min-height: 757px;
    margin-top: 40px;
    margin-bottom: 40px;
    row-gap: 20px;
  }
}

#video_content_header {
  max-width: 1440px;
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 70px;
}
@media (max-width: 1500px) {
  #video_content_header {
    max-width: 984px;
    min-height: 619px;
    row-gap: 40px;
  }
}
@media (max-width: 975px) {
  #video_content_header {
    max-width: 728px;
    min-height: 466px;
    row-gap: 20px;
  }
}

#video_content_header_words {
  max-width: 1440px;
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
@media (max-width: 1060px) {
  #video_content_header_words {
    max-width: 984px;
    min-height: 75px;
    justify-content: start;
  }
}
@media (max-width: 975px) {
  #video_content_header_words {
    max-width: 728px;
    min-height: 60px;
    justify-content: start;
  }
}

#video_content_word1 {
  color: var(--font-gold);
}
@media (max-width: 1060px) {
  #video_content_word1 {
    line-height: 150%;
  }
}

#video_content_word2 {
  width: 720px;
  height: 90px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.7px;
  line-height: 185%;
  color: #000;
  padding-top: 13px;
}
@media (max-width: 1060px) {
  #video_content_word2 {
    display: none;
  }
}

#video_content_header_video {
  max-width: 1440px;
  width: 100%;
  min-height: 735px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media (max-width: 1500px) {
  #video_content_header_video {
    max-width: 984px;
    min-height: 504px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video {
    max-width: 728px;
    min-height: 386px;
  }
}

#video_content_header_video_img {
  max-width: 1440px;
  width: 100%;
  min-height: 650px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1500px) {
  #video_content_header_video_img {
    max-width: 984px;
    min-height: 444px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video_img {
    max-width: 728px;
    min-height: 332px;
  }
}

#video_content_header_video_play {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 29%;
  left: 42.5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 10px solid #fff;
  transition: 0.5s;
  cursor: pointer;

  & svg {
    margin-left: 20px;
  }

  & path {
    transition: 0.5s;
  }
}
#video_content_header_video_play:hover {
  border-color: var(--dark-red);
  transition: 0.5s;

  & path {
    fill: var(--dark-red);
    transition: 0.5s;
  }
}
@media (max-width: 1500px) {
  #video_content_header_video_play {
    width: 140px;
    height: 140px;
    border: 5px solid #fff;

    & svg {
      width: 64px;
      height: 85px;
    }
  }
}
@media (max-width: 975px) {
  #video_content_header_video_play {
    width: 75px;
    height: 75px;
    border: 3px solid #fff;
    top: 32%;
    left: 44.5%;

    & svg {
      width: 33px;
      height: 43px;
      margin-left: 10px;
    }
  }
}

#video_content_header_video_media {
  max-width: 1440px;
  width: 100%;
  min-height: 85px;
  position: relative;
  top: calc(100% - 650px - 220px - 85px - 8px + 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  background-color: var(--bg-dark);
  z-index: 2;
}
@media (max-width: 1500px) {
  #video_content_header_video_media {
    max-width: 984px;
    min-height: 60px;
    column-gap: 30px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video_media {
    max-width: 728px;
    min-height: 52px;
    column-gap: 35px;
  }
}

#video_content_header_video_media_scroll {
  max-width: 929px;
  width: 100%;
  min-height: 15px;
  accent-color: #710707;
}
#video_content_header_video_media_scroll::-webkit-slider-thumb {
  max-width: 15px;
  width: 100%;
  max-height: 15px;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 10px inset #fff;
}
@media (max-width: 1500px) {
  #video_content_header_video_media_scroll {
    max-width: 564px;
    min-height: 13px;
  }
  #video_content_header_video_media_scroll::-webkit-slider-thumb {
    max-width: 13px;
    max-height: 13px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video_media_scroll {
    display: none;
  }
}

#video_content_header_video_media_scroll2 {
  display: none;
  max-width: 728px;
  width: 100%;
  min-height: 13px;
  position: absolute;
  accent-color: #710707;
  top: 83.5%;
  z-index: 5;
}
@media (max-width: 975px) {
  #video_content_header_video_media_scroll2 {
    display: block;
  }
  #video_content_header_video_media_scroll2::-webkit-slider-thumb {
    max-width: 13px;
    width: 100%;
    max-height: 13px;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 10px inset #fff;
  }
}

#video_content_header_video_media_volume {
  max-width: 155px;
  width: 100%;
  min-height: 15px;
  accent-color: #710707;
}
#video_content_header_video_media_volume::-webkit-slider-thumb {
  max-width: 15px;
  width: 100%;
  max-height: 15px;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 10px inset #fff;
}
@media (max-width: 1500px) {
  #video_content_header_video_media_volume {
    max-width: 143px;
    min-height: 13px;
  }
  #video_content_header_video_media_volume::-webkit-slider-thumb {
    max-width: 13px;
    max-height: 13px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video_media_volume {
    max-width: 486px;
    min-height: 13px;
  }
}

@media (max-width: 1500px) {
  #video_content_header_video_media_play {
    width: 23px;
    height: 30px;
  }

  #video_content_header_video_media_speaker {
    width: 26px;
    height: 20px;
  }

  #video_content_header_video_media_fullscreen {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 975px) {
  #video_content_header_video_media_play {
    width: 23px;
    height: 29px;
  }

  #video_content_header_video_media_speaker {
    width: 27px;
    height: 21px;
  }

  #video_content_header_video_media_fullscreen {
    width: 27px;
    height: 27px;
  }
}

#video_content_vids {
  max-width: 1440px;
  width: 100%;
  min-height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1500px) {
  #video_content_vids {
    max-width: 983px;
    min-height: 170px;
  }
}
@media (max-width: 975px) {
  #video_content_vids {
    max-width: 728px;
    min-height: 199px;
  }
}


.video_content_vids_video {
  max-width: 452px;
  width: 100%;
  height: 254px;
}
@media (max-width: 1500px) {
  .video_content_vids_video {
    max-width: 300px;
    height: 170px;
  }
}
@media (max-width: 975px) {
  .video_content_vids_video {
    max-width: 354px;
    height: 199px;
  }

  #video_content_vids_video3 {
    display: none;
  }
}

.video_content_vids_video_img {
  max-width: 452px;
  width: 100%;
  min-height: 254px;
  position: relative;
  bottom: calc(40px + 39px + 8px + 48px);
  z-index: 0;
}
@media (max-width: 1500px) {
  .video_content_vids_video_img {
    max-width: 300px;
    min-height: 170px;
  }
}
@media (max-width: 975px) {
  .video_content_vids_video_img {
    max-width: 354px;
    min-height: 199px;
  }
}

.video_content_vids_video_avatar {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  top: 15px;
  left: 10px;
}
@media (max-width: 1500px) {
  .video_content_vids_video_avatar {
    top: 10px;
  }
}

.video_content_vids_video_name {
  max-width: 329px;
  width: 100%;
  height: 39px;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 214%;
  color: #fff;
  position: relative;
  z-index: 1;
  left: 60px;
  top: -28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1500px) {
  .video_content_vids_video_name {
    max-width: 173px;
    line-height: 211%;
    font-size: 17.6px;
    top: -32px;
  }
}
@media (max-width: 975px) {
  .video_content_vids_video_name {
    max-width: 183px;
    line-height: 214%;
    top: -34px;
  }
}

.video_content_vids_video_setting {
  position: relative;
  z-index: 1;
  left: calc(60px + 329px + 24px);
  top: calc(-56px - 31.5px);
}
@media (max-width: 1500px) {
  .video_content_vids_video_setting {
    left: calc(100% - 40px);
    top: calc(0% - 39px - 48px - 5px);
  }
}
@media (max-width: 975px) {
  .video_content_vids_video_setting {
    left: calc(100% - 40px + 1px);
    top: calc(0% - 39px - 48px - 7px);
  }
}

.video_content_vids_video_play {
  position: relative;
  z-index: 1;
  left: calc(50% - 42px);
  bottom: calc(100% - 254px - 20px);
  cursor: pointer;
}
@media (max-width: 1500px) {
  .video_content_vids_video_play {
    left: calc(0% + 107px);
    bottom: calc(0% + 20px);
  }
}
@media (max-width: 975px) {
  .video_content_vids_video_play {
    left: calc(0% + 135px);
    bottom: calc(0% + 9px);
  }
}

#video_content_slider {
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 975px) {
  #video_content_slider {
    width: 190px;
    margin-bottom: 40px;
  }
}

.video_content_slider_choice {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #999;
  cursor: pointer;
  transition: 0.5s;
}
.video_content_slider_choice:hover {
  background-color: #333;
  transition: 0.5s;
}
@media (max-width: 975px) {
  .video_content_slider_choice {
    width: 10px;
    height: 10px;
  }
}

#video_content_slider_choice_active {
  background-color: #333;
}

.video_content_slider_arrow {
  cursor: pointer;
}

#gallery {
  width: 100%;
  min-height: 2200px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--bg-dark);
}
@media (max-width: 1500px) {
  #gallery {
    min-height: 1460px;
  }
}
@media (max-width: 1030px) {
  #gallery {
    min-height: 1220px;
  }
}

#gallery_content {
  max-width: 1440px;
  width: 100%;
  min-height: 2125px;
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 1500px) {
  #gallery_content {
    min-height: 1400px;
  }
}
@media (max-width: 1060px) {
  #gallery_content {
    max-width: 984px;
    row-gap: 60px;
  }
}
@media (max-width: 1030px) {
  #gallery_content {
    max-width: 728px;
    min-height: 1180px;
    row-gap: 40px;
    justify-content: start;
    align-items: start;
    margin-top: 40px;
  }
}

#gallery_content_word {
  color: #fff;
}
@media (max-width: 1060px) {
  #gallery_content_word {
    line-height: 150%;
    font-size: 39.6px;
    letter-spacing: 0.13em;
  }
}

#gallery_content_images {
  max-width: 1440px;
  width: 100%;
  height: 1960px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  position: relative;
  gap: 24px 36px;
}
@media (max-width: 1500px) {
  #gallery_content_images {
    max-width: 984px;
    height: 1265px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_images {
    max-width: 728px;
    height: 1080px;
    gap: 24px 24px;
  }
}

#gallery_content_img1 {
  background-image: url(../images/Gallery/GalleryImg1.png);
  max-width: 456px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  margin-top: 50px;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img1 {
    background-image: url(../images/Gallery/GalleryImg5.png);
    max-width: 304px;
    max-height: 304px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img1 {
    background-image: url(../images/Gallery/GalleryImg3.png);
    max-width: 352px;
    max-height: 351px;
  }
}

#gallery_content_img2 {
  background-image: url(../images/Gallery/GalleryImg2.png);
  max-width: 456px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img2 {
    background-image: url(../images/Gallery/GalleryImg1.png);
    max-width: 304px;
    max-height: 380px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img2 {
    background-image: url(../images/Gallery/GalleryImg9.png);
    max-width: 352px;
    max-height: 440px;
  }
}

#gallery_content_img3 {
  background-image: url(../images/Gallery/GalleryImg3.png);
  max-width: 456px;
  width: 100%;
  max-height: 456px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img3 {
    background-image: url(../images/Gallery/GalleryImg13.png);
    max-width: 304px;
    max-height: 304px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img3 {
    background-image: url(../images/Gallery/GalleryImg13.png);
    max-width: 352px;
    max-height: 191px;
    overflow: hidden;
  }
}

#gallery_content_img4 {
  background-image: url(../images/Gallery/GalleryImg4.png);
  max-width: 456px;
  width: 100%;
  max-height: 242px;
  height: 100%;
  overflow: hidden;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img4 {
    background-image: url(../images/Gallery/GalleryImg8.png);
    max-width: 304px;
    max-height: 155px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img4 {
    background-image: url(../images/Gallery/GalleryImg14.png);
    max-width: 352px;
    max-height: 264px;
  }
}

#gallery_content_img5 {
  background-image: url(../images/Gallery/GalleryImg5.png);
  max-width: 456px;
  width: 100%;
  max-height: 456px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img5 {
    background-image: url(../images/Gallery/GalleryImg9.png);
    max-width: 304px;
    max-height: 380px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img5 {
    background-image: url(../images/Gallery/GalleryImg12.png);
    max-width: 352px;
    max-height: 264px;
  }
}

#gallery_content_img6 {
  background-image: url(../images/Gallery/GalleryImg6.png);
  max-width: 456px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img6 {
    max-width: 304px;
    max-height: 380px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img6 {
    background-image: url(../images/Gallery/GalleryImg2.png);
    max-width: 352px;
    max-height: 440px;
  }
}

#gallery_content_img7 {
  background-image: url(../images/Gallery/GalleryImg7.png);
  max-width: 456px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img7 {
    background-image: url(../images/Gallery/GalleryImg14.png);
    max-width: 304px;
    max-height: 228px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img7 {
    background-image: url(../images/Gallery/GalleryImg10.png);
    max-width: 352px;
    max-height: 40px;
    overflow: hidden;
  }
}

#gallery_content_img8 {
  background-image: url(../images/Gallery/GalleryImg8.png);
  max-width: 456px;
  width: 100%;
  max-height: 292px;
  height: 100%;
  overflow: hidden;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img8 {
    background-image: url(../images/Gallery/GalleryImg15.png);
    max-width: 304px;
    max-height: 205px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img8 {
    display: none;
  }
}

#gallery_content_img9 {
  background-image: url(../images/Gallery/GalleryImg9.png);
  margin-top: 50px;
  max-width: 456px;
  width: 100%;
  max-height: 570px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img9 {
    background-image: url(../images/Gallery/GalleryImg12.png);
    max-width: 304px;
    max-height: 228px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img9 {
    display: none;
  }
}

#gallery_content_img10 {
  background-image: url(../images/Gallery/GalleryImg10.png);
  max-width: 456px;
  width: 100%;
  max-height: 456px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img10 {
    background-image: url(../images/Gallery/GalleryImg7.png);
    max-width: 304px;
    max-height: 380px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img10 {
    display: none;
  }
}

#gallery_content_img11 {
  background-image: url(../images/Gallery/GalleryImg11.png);
  max-width: 456px;
  width: 100%;
  max-height: 456px;
  height: 100%;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img11 {
    background-image: url(../images/Gallery/GalleryImg3.png);
    max-width: 304px;
    max-height: 304px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img11 {
    display: none;
  }
}

#gallery_content_img12 {
  background-image: url(../images/Gallery/GalleryImg12.png);
  max-width: 456px;
  width: 100%;
  max-height: 342px;
  height: 100%;
  overflow: hidden;
  background-size: no-repeat;
  background-position: start;
  background-size: cover;
}
@media (max-width: 1500px) {
  #gallery_content_img12 {
    background-image: url(../images/Gallery/GalleryImg4.png);
    max-width: 304px;
    max-height: 231px;
  }
}
@media (max-width: 1030px) {
  #gallery_content_img12 {
    display: none;
  }
}

#gallery_content_shadow {
  max-width: 1440px;
  width: 100%;
  max-height: 360px;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  position: relative;
  bottom: calc(0% - 1960px + 360px);
  right: calc(100% + 36px);
}
@media (max-width: 1500px) {
  #gallery_content_shadow {
    max-width: 984px;
    max-height: 239px;
    bottom: calc(0% - 100% + 239px);
    right: calc(0% + 1022px);
  }
}
@media (max-width: 1030px) {
  #gallery_content_shadow {
    max-width: 728px;
    max-height: 235px;
    position: absolute;
    bottom: calc(0%);
    right: auto;
  }
}

#tickets {
  width: 100%;
  min-height: 893px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 1060px) {
  #tickets {
    min-height: 718px;
  }
}
@media (max-width: 780px) {
  #tickets {
    min-height: 633px;
  }
}

#tickets_content {
  max-width: 1440px;
  width: 100%;
  min-height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 1060px) {
  #tickets_content {
    max-width: 984px;
    min-height: 598px;
  }
}
@media (max-width: 780px) {
  #tickets_content {
    max-width: 728px;
    min-height: 553px;
  }
}

#tickets_content_word {
  color: var(--font-gold);
}
@media (max-width: 1060px) {
  #tickets_content_word {
    line-height: 150%;
  }
}

#tickets_content_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}
@media (max-width: 780px) {
  #tickets_content_line {
    margin-top: 20px;
  }
}

#tickets_content_heading {
  max-width: 1440px;
  width: 100%;
  min-height: 550px;
  margin-top: 50px;
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1500px) {
  #tickets_content_heading {
    margin-top: 40px;
    column-gap: 80px;
    justify-content: center;
  }
}
@media (max-width: 1060px) {
  #tickets_content_heading {
    max-width: 984px;
    min-height: 440px;
  }
}
@media (max-width: 780px) {
  #tickets_content_heading {
    max-width: 679px;
    min-height: 430px;
    margin-top: 40px;
    column-gap: 60px;
  }
}

#tickets_content_img {
  background-image: url(../images/Tickets/TicketsImg.png);
  max-width: 720px;
  width: 100%;
  min-height: 550px;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1060px) {
  #tickets_content_img {
    max-width: 700px;
    min-height: 440px;
    overflow-y: hidden;
  }
}
@media (max-width: 780px) {
  #tickets_content_img {
    max-width: 444px;
    min-height: 340px;
    overflow-y: hidden;
  }
}

#tickets_content_type {
  width: 270px;
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1500px) {
  #tickets_content_type {
    display: none;
  }
}

.tickets_content_word {
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 29px;
  color: #000;
}

#tickets_content_type_choce {
  width: 270px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.radio_button_container {
  width: 270px;
  height: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 23px;
}

.radio_button {
  width: 18px;
  height: 18px;
  accent-color: #000;
  cursor: pointer;
  transition: 0.5s;
}
.radio_button:hover {
  accent-color: red;
  transition: 0.5s
}

.radio_word {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.6px;
  color: #000;
}

#tickets_content_amount {
  width: 175px;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-left: 155px;
}
@media (max-width: 1500px) {
  #tickets_content_amount {
    margin-right: 29px;
    margin-left: 0px;
    align-items: start;
  }
}
@media (max-width: 1060px) {
  #tickets_content_amount {
    width: 175px;
    height: 440px;
    row-gap: 25px;
  }
}
@media (max-width: 780px) {
  #tickets_content_amount {
    height: 430px;
    margin-right: 0px;
  }
}

#tickets_content_amount_word {
  margin-bottom: 15px;
}
@media (max-width: 1060px) {
  #tickets_content_amount_word {
    margin-bottom: 0px;
  }
}
@media (max-width: 780px) {
  #tickets_content_amount_word {
    margin-bottom: 14px;
    font-size: 27.6px;
  }
}

.tickets_content_amount_number_container {
  width: 150px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;
}
@media (max-width: 1060px) {
  .tickets_content_amount_number_container {
    width: 175px;
    height: 83px;
    margin-top: 0px;
  }
}

.tickets_content_amount_number_word {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  color: #000;
  width: 150px;
  height: 26px;
}

.tickets_content_amount_number {
  border: 3px solid #000;
  width: 144px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 37px;
}
@media (max-width: 1060px) {
  .tickets_content_amount_number {
    width: 169px;
    column-gap: 42px;
  }
}

.tickets_content_amount_number_button1,
.tickets_content_amount_number_button2 {
  width: 19px;
  height: 38px;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.tickets_content_amount_number_button1:hover,
.tickets_content_amount_number_button2:hover {
  color: var(--dark-red);
  transition: 0.5s;
}

.tickets_content_amount_number_choice {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: #000;
  width: 12px;
  height: 26px;
  border: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#tickets_content_amount_total {
  width: 150px;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 1060px) {
  #tickets_content_amount_total {
    width: 175px;
    margin-top: 0px;
    justify-content: start;
    column-gap: 13px;
  }
}
@media (max-width: 780px) {
  #tickets_content_amount_total {
    margin-top: 14px;
  }
}

.tickets_content_amount_total_word {
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.06em;
  color: #000;
}

#tickets_content_amount_button {
  border-radius: 5px;
  width: 175px;
  height: 50px;
  background-color: #000;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #fff;
  margin-top: 60px;
  transition: 0.5s;
  cursor: pointer;
  border: 0;
}
#tickets_content_amount_button:hover {
  background-color: var(--font-gold);
  color: #000;
  transition: 0.5s;
}
@media (max-width: 1060px) {
  #tickets_content_amount_button {
    margin-top: 44px;
  }
}
@media (max-width: 780px) {
  #tickets_content_amount_button {
    margin-top: 15px;
  }
}

#main_img {
  background-image: url(../images/parallax.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  /*margin-left: 20px;
  padding-left: 20px;*/
}

#main_img_container {
  width: 100%;
  min-height: 400px;
  position: relative;
  z-index: -2;
}
@media (max-width: 780px) {
  #main_img_container {
    min-height: 300px;
  }
}

#contacts {
  width: 100%;
  min-height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
@media (max-width: 1500px) {
  #contacts {
    min-height: 734px;
  }
}
@media (max-width: 780px) {
  #contacts {
    min-height: 925px;
  }
}

#contacts_content {
  max-width: 1440px;
  width: 100%;
  min-height: 813px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 25px;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 1500px) {
  #contacts_content {
    min-height: 614px;
    row-gap: 20px;
  }
}
@media (max-width: 1060px) {
  #contacts_content {
    max-width: 984px;
  }
}
@media (max-width: 780px) {
  #contacts_content {
    max-width: 730px;
    min-height: 818px;
    margin-bottom: 27px;
    row-gap: 20px;
  }
}

#contacts_content_word {
  color: var(--font-gold);
}
@media (max-width: 1060px) {
  #contacts_content_word {
    line-height: 150%;
  }
}

#contacts_content_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
  margin-bottom: 50px;
}
@media (max-width: 1060px) {
  #contacts_content_line {
    margin-bottom: 40px;
  }
}
@media (max-width: 780px) {
  #contacts_content_line {
    margin-bottom: 20px;
  }
}

#contacts_content_header {
  max-width: 1440px;
  width: 100%;
  min-height: 620px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1500px) {
  #contacts_content_header {
    justify-content: center;
    column-gap: 16px;
    min-height: 454px;
  }
}
@media (max-width: 780px) {
  #contacts_content_header {
    max-width: 728px;
    min-height: 695px;
    flex-direction: column;
    row-gap: 40px;
  }
}

#contacts_content_header_requisites {
  width: 282px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1060px) {
  #contacts_content_header_requisites {
    width: 274px;
    height: 190px;
  }
}
@media (max-width: 780px) {
  #contacts_content_header_requisites {
    width: 250px;
    height: 179px;
  }
}

#contacts_content_header_requisites_word {
  font-family: var(--first-family);
  font-weight: 500;
  font-size: 27.6px;
  color: #000;
  width: 227px;
  height: 66px;
}
@media (max-width: 1060px) {
  #contacts_content_header_requisites_word {
    font-size: 24px;
    width: 185px;
    height: 56px;
  }
}
@media (max-width: 780px) {
  #contacts_content_header_requisites_word {
    font-size: 20px;
    width: 155px;
    height: 46px;
  }
}

#contacts_content_header_requisites_list {
  width: 282px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1060px) {
  #contacts_content_header_requisites_list {
    width: 274px;
    height: 99px;
  }
}
@media (max-width: 780px) {
  #contacts_content_header_requisites_list {
    width: 100%;
    height: 93px;
  }
}

.contacts_content_header_requisites_list_words {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3px;

  & a {
    color: #000;
    transition: 0.5s;
  }
}
.contacts_content_header_requisites_list_words:hover {
  & a {
    color: var(--font-gold);
    transition: 0.5s;
  }
}
@media (max-width: 1060px) {
  .contacts_content_header_requisites_list_words {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .contacts_content_header_requisites_list_words {
    font-size: 18px;
  }
}

#contacts_content_header_img {
  background-image: url(../images/Contacts/ContactsImg.png);
  max-width: 960px;
  width: 100%;
  min-height: 620px;
  background-size: no-repeat;
  background-position: 100% 0%;
}
@media (max-width: 1500px) {
  #contacts_content_header_img {
    max-width: 694px;
    min-height: 454px;
  }
}
@media (max-width: 780px) {
  #contacts_content_header_img {
    max-width: 728px;
    min-height: 476px;
  }
}

#footer {
  width: 100%;
  min-height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--bg-dark);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1060px) {
  #footer {
    min-height: 368px;
  }
}
@media (max-width: 990px) {
  #footer {
    min-height: 411px;
  }
}

#footer_content {
  max-width: 1440px;
  width: 100%;
  min-height: 265px;
  display: flex;
}
@media (max-width: 1500px) {
  #footer_content {
    justify-content: space-between;
    column-gap: 45px;
  }
}
@media (max-width: 1060px) {
  #footer_content {
    min-height: 243px;
  }
}
@media (max-width: 990px) {
  #footer_content {
    max-width: 728px;
    min-height: 308px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    column-gap: 0px;
  }
}

#footer_logo {
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
    
  & #footer_logo_word {
    transition: 0.5s;
  }

  & path {
    transition: 0.5s;
  }
}
#footer_logo:hover {
  & #footer_logo_word {
    color: var(--font-gold);
    transition: 0.5s;
  }

  & path {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}
@media (max-width: 1060px) {
  #footer_logo {
    margin-top: 50px;
  }
}
@media (max-width: 990px) {
  #footer_logo {
    width: 199px;
    height: 41px;
    margin-top: 40px;
  }
}

#footer_logo_word {
    width: 120px;
    height: 31px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #fff;
}
@media (max-width: 990px) {
  #footer_logo_word {
    width: 125px;
    height: 41px;
    line-height: 179%;
  }
}

#footer_nav {
    max-width: 363px;
    width: 100%;
    height: 128px;
    margin-left: 145px;
    margin-top: 87px;

    & ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px 150px;
    }
}
@media (max-width: 1500px) {
  #footer_nav {
    max-width: 313px;
    margin-left: 0px;

    & ul {
      gap: 24px 110px;
    }
  }
}
@media (max-width: 1060px) {
  #footer_nav {
    margin-top: 65px;
  }
}
@media (max-width: 990px) {
  #footer_nav {
    max-width: 340px;
    height: 113px;
    margin-top: 57px;
    margin-left: 99px;

    & ul {
      gap: 24px 184px;
    }

    & .nav_button {
      font-size: 17.6px;
      letter-spacing: 0.11em;
    }
  }
}

#footer_social {
  width: 340px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 397px;
  margin-top: 162px ;
}
@media (max-width: 1500px) {
  #footer_social {
    margin-left: 47px;
  }
}
@media (max-width: 1060px) {
  #footer_social {
    margin-top: 145px;
  }
}
@media (max-width: 990px) {
  #footer_social {
    margin-top: 5px;
    margin-left: 298px;
  }
}

.footer_social_images_container {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  & .footer_social_images {
    transition: 0.5s;
  }
}
.footer_social_images_container:hover {
  border: 1px solid var(--font-gold);
  transition: 0.5s;

  & .footer_social_images {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

#footer_line {
  max-width: 1920px;
  width: 100%;
  height: 1px;
  background-color: #666;
}
@media (max-width: 990px) {
  #footer_line {
    max-width: 768px;
  }
}

#footer_links {
  max-width: 1440px;
  width: 100%;
  min-height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1060px) {
  #footer_links {
    min-height: 122px;
  }
}
@media (max-width: 990px) {
  #footer_links {
    max-width: 728px;
    min-height: 102px;
  }
}

.footer_link {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 21.6px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: #fff;
  transition: 0.5s;
}
.footer_link:hover {
  color: var(--font-gold);
  transition: 0.5s;
}

#footer_link2 {
  margin-left: 70px;
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (max-width: 1060px) {
  h2 {
    font-size: 49.6px;
    line-height: 180%;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 850px) {
  h2 {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.12em;
  }
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 1060px) {
  h3 {
    font-size: 28px;
    letter-spacing: 0.11em;
  }
}
@media (max-width: 850px) {
  h3 {
    font-size: 22px;
    letter-spacing: 0.14em;
  }
}