@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --first-family: "Roboto", sans-serif;
    --second-family: "Forum", sans-serif;
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font-gold-active: #7e6c51;
}

/* Подключение констант
var(--first-family)
var(--second-family)
var(--bg-dark)
var(--dark-red)
var(--font-gold)
*/

* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#header_general {
    width: 100%;
    height: 150px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;
    z-index: 5;*/
}

#header_general_block {
  width: 100%;
  height: 150px;
  background-color: var(--bg-dark);
}

#header_content {
    max-width: 1440px;
    width: 100%;
    height: 150px;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_logo {
    width: 199px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & #header_logo_word {
      transition: 0.5s;
    }

    & path {
      transition: 0.5s;
    }
}
#header_logo:hover {
  & #header_logo_word {
    color: var(--font-gold);
    transition: 0.5s;
  }

  & path {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

#header_logo_word {
    width: 125px;
    height: 31px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #fff;
}

#header_nav {
    width: 775px;
    height: 26px;

    & ul {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 55px;
    }
}

.nav_button {
  font-family: var(--first-family);
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.075em;
  color: #fff;
  transition: 0.5s;
}
.nav_button:hover {
  color: var(--font-gold);
  transition: 0.5s;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

#welcome {
  width: 100%;
  min-height: 810px;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome_content {
  max-width: 1440px;
  width: 100%;
  height: 810px;
}

#welcome_content_heading {
  width: 598px;
  height: 388px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  z-index: 1;
  top: 150px;
  row-gap: 25px;
}

#welcome_content_heading_word1 {
  color: #fff;
  width: 598px;
  height: 180px;
}

#welcome_content_heading_word2 {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 0.07em;
  color: #fff;
}

#welcome_content_heading_button {
  border-radius: 10px;
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}
#welcome_content_heading_button:hover {
  background-color: var(--font-gold);
  color: var(--bg-dark);
  transition: 0.5s;
}

#welcome_content_images {
  width: 1000px;
  height: 810px;
  z-index: 0;
  position: relative;
  left: calc(100% - 1000px);
  bottom: calc(100% + 388px - 810px);
}

#welcome_content_images_imgwelcome {
  position: absolute;
  z-index: 0;
}

#welcome_content_images_slider {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 120px;
  background-color: var(--bg-dark);
  top: calc(100% - 120px);
  left: calc(100% - 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 55px;
}

#slider_number {
  width: 76px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & p {
    font-family: var(--first-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 182%;
    text-transform: uppercase;
    color: #fff;
  }
}

#slider_choise {
  width: 180px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_choise_button {
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.slider_choise_button:hover {
  background-color: var(--font-gold);
  transition: 0.5s;
}

#slider_choise_active {
  background-color: var(--font-gold-active);
}

#slider_change {
  width: 80px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_change_arrow {
  cursor: pointer;
  transition: 0.5s;
}
.slider_change_arrow:hover {
  fill: var(--font-gold);
  transition: 0.5s;
}

#virtual {
  width: 100%;
  height: 1266px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#virtual_content {
  max-width: 1440px;
  width: 100%;
  height: 1116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#virtual_content_heading {
  width: 100%;
  height: 115px;
  border-bottom: 3px solid var(--dark-red);
}

#virtual_content_heading_word {
  color: var(--font-gold);
}

#virtual_content_cards {
  width: 1440px;
  height: 923px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 75px 60px;
}

.virtual_card {
  width: 440px;
  height: 424px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;

  & .virtual_card_line {
    transition: 0.5s;
  }
}
.virtual_card:hover {
  & .virtual_card_line {
    width: 100%;
    transition: 0.5s;
  }
}

.virtual_card_img {
  width: 440px;
  height: 285px;
  margin-bottom: 15px;
}

.virtual_card_word2 {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 22px;
  color: #000;
}

.virtual_card_word3 {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 18px;
  color: #000;
}

.virtual_card_line {
  width: 300px;
  height: 5px;
  background-color: var(--dark-red);
}

#explore {
  width: 100%;
  height: 865px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
}

#explore_content {
  max-width: 1440px;
  width: 100%;
  height: 715px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#explore_content_heading {
  width: 720px;
  height: 715px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

#explore_content_heading_general_word {
  color: #fff;
}

#explore_content_heading_line {
  width: 660px;
  height: 3px;
  background-color: var(--dark-red);
  margin-bottom: 50px;
}

.explore_content_heading_words {
  width: 660px;
  height: 77px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.6px;
  line-height: 175%;
  color: #fff;

  & u {
    text-decoration: none;
    color: #caaa7d;
  }
}

#explore_content_heading_images {
  width: 720px;
  height: 715px;
  display: flex;
  align-items: end;
}

#explore_content_img1 {
  width: 440px;
  height: 700px;
  position: relative;
  z-index: 1;
}

#explore_content_img2 {
  width: 720px;
  height: 700px;
  position: relative;
  z-index: 0;
  right: calc(100% + 440px - 720px);
}

#explore_content_img3 {
  width: 39px;
  height: 700px;
  position: relative;
  z-index: 2;
  right: calc(100% + 20px);
}

#video {
  width: 100%;
  height: 1396px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video_content {
  max-width: 1440px;
  width: 100%;
  height: 1246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
}

#video_content_header {
  width: 1440px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#video_content_header_words {
  width: 1440px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#video_content_word1 {
  color: var(--font-gold);
}

#video_content_word2 {
  width: 720px;
  height: 90px;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.7px;
  line-height: 185%;
  color: #000;
  padding-top: 13px;
}

#video_content_header_video {
  width: 1440px;
  height: 735px;
}

#video_content_header_video_img {
  width: 1440px;
  height: 650px;
  position: relative;
  z-index: 0;
}

#video_content_header_video_play {
  width: 200px;
  height: 200px;
  position: relative;
  top: calc(100% - 650px - 85px - 325px - 110px - 5px);
  left: calc(50% - 110px - 1px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 10px solid #fff;
  transition: 0.5s;
  cursor: pointer;

  & svg {
    margin-left: 20px;
  }

  & path {
    transition: 0.5s;
  }
}
#video_content_header_video_play:hover {
  border-color: var(--dark-red);
  transition: 0.5s;

  & path {
    fill: var(--dark-red);
    transition: 0.5s;
  }
}

#video_content_header_video_media {
  width: 1440px;
  height: 85px;
  position: relative;
  top: calc(100% - 650px - 220px - 85px - 8px + 4px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  background-color: var(--bg-dark);
  z-index: 2;
}

#video_content_vids {
  width: 1440px;
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_content_vids_video {
  width: 452px;
  height: 254px;
}

.video_content_vids_video_img {
  width: 452px;
  height: 254px;
  position: relative;
  bottom: calc(40px + 39px + 8px + 48px);
  z-index: 0;
}

.video_content_vids_video_avatar {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  top: 15px;
  left: 10px;
}

.video_content_vids_video_name {
  width: 329px;
  height: 39px;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 214%;
  color: #fff;
  position: relative;
  z-index: 1;
  left: 60px;
  top: -28px;
}

.video_content_vids_video_setting {
  position: relative;
  z-index: 1;
  left: calc(60px + 329px + 24px);
  top: calc(-56px - 31.5px);
}

.video_content_vids_video_play {
  position: relative;
  z-index: 1;
  left: calc(50% - 42px);
  bottom: calc(100% - 254px - 20px);
  cursor: pointer;
}

#video_content_slider {
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video_content_slider_choice {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #999;
  cursor: pointer;
  transition: 0.5s;
}
.video_content_slider_choice:hover {
  background-color: #333;
  transition: 0.5s;
}

#video_content_slider_choice_active {
  background-color: #333;
}

.video_content_slider_arrow {
  cursor: pointer;
}

#gallery {
  width: 100%;
  height: 2200px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: var(--bg-dark);
}

#gallery_content {
  max-width: 1440px;
  width: 100%;
  height: 2125px;
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}

#gallery_content_word {
  color: #fff;
}

#gallery_content_images {
  width: 1440px;
  height: 1960px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px 36px;
}

#gallery_content_img1 {
  margin-top: 50px;
}

#gallery_content_img4 {
  width: 456px;
  height: 242px;
  overflow: hidden;
}

#gallery_content_img8 {
  width: 456px;
  height: 292px;
  overflow: hidden;
}

#gallery_content_img9 {
  margin-top: 50px;
}

#gallery_content_img12 {
  width: 456px;
  height: 342px;
  overflow: hidden;
}

#gallery_content_shadow {
  width: 1440px;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  position: relative;
  bottom: calc(0% - 1960px + 360px);
  right: calc(100% + 36px);
}

#tickets {
  width: 100%;
  height: 893px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#tickets_content {
  max-width: 1440px;
  width: 100%;
  height: 743px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#tickets_content_word {
  color: var(--font-gold);
}

#tickets_content_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
}

#tickets_content_heading {
  width: 1440px;
  height: 550px;
  margin-top: 50px;
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
  align-items: start;
}

#tickets_content_img {
  width: 720px;
  height: 550px;
}

#tickets_content_type {
  width: 270px;
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.tickets_content_word {
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 29px;
  color: #000;
}

#tickets_content_type_choce {
  width: 270px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.radio_button_container {
  width: 270px;
  height: 26px;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 23px;
}

.radio_button {
  width: 18px;
  height: 18px;
  accent-color: #000;
  cursor: pointer;
  transition: 0.5s;
}
.radio_button:hover {
  accent-color: red;
  transition: 0.5s
}

.radio_word {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 21.6px;
  color: #000;
}

#tickets_content_amount {
  width: 175px;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-left: 155px;
}

#tickets_content_amount_word {
  margin-bottom: 15px;
}

.tickets_content_amount_number_container {
  width: 150px;
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-top: 10px;
}

.tickets_content_amount_number_word {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  color: #000;
  width: 150px;
  height: 26px;
}

.tickets_content_amount_number {
  border: 3px solid #000;
  width: 144px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 37px;
}

.tickets_content_amount_number_button1,
.tickets_content_amount_number_button2 {
  width: 19px;
  height: 38px;
  font-family: var(--first-family);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.tickets_content_amount_number_button1:hover,
.tickets_content_amount_number_button2:hover {
  color: var(--dark-red);
  transition: 0.5s;
}

.tickets_content_amount_number_choice {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: #000;
  width: 12px;
  height: 26px;
  border: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#tickets_content_amount_total {
  width: 150px;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.tickets_content_amount_total_word {
  font-family: var(--first-family);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.06em;
  color: #000;
}

#tickets_content_amount_button {
  border-radius: 5px;
  width: 175px;
  height: 50px;
  background-color: #000;
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #fff;
  margin-top: 60px;
  transition: 0.5s;
  cursor: pointer;
  border: 0;
}
#tickets_content_amount_button:hover {
  background-color: var(--font-gold);
  color: #000;
  transition: 0.5s;
}

#main_img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

#main_img_container {
  width: 100%;
  height: 400px;
  z-index: -2;
}

#contacts {
  width: 100%;
  height: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#contacts_content {
  max-width: 1440px;
  width: 100%;
  height: 813px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  row-gap: 25px;
  margin-bottom: 4px;
}

#contacts_content_word {
  color: var(--font-gold);
}

#contacts_content_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-red);
  margin-bottom: 50px;
}

#contacts_content_header {
  width: 1440px;
  height: 620px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#contacts_content_header_requisites {
  width: 282px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#contacts_content_header_requisites_word {
  font-family: var(--first-family);
  font-weight: 500;
  font-size: 27.6px;
  color: #000;
  width: 227px;
  height: 66px;
}

#contacts_content_header_requisites_list {
  width: 282px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.contacts_content_header_requisites_list_words {
  font-family: var(--first-family);
  font-weight: 300;
  font-size: 22px;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3px;

  & a {
    color: #000;
    transition: 0.5s;
  }
}
.contacts_content_header_requisites_list_words:hover {
  & a {
    color: var(--font-gold);
    transition: 0.5s;
  }
}

#contacts_content_header_img {
  width: 960px;
  height: 620px;
}

#footer {
  width: 100%;
  height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-color: var(--bg-dark);
}

#footer_content {
  max-width: 1440px;
  width: 100%;
  height: 265px;
  display: flex;
}

#footer_logo {
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
    
  & #footer_logo_word {
    transition: 0.5s;
  }

  & path {
    transition: 0.5s;
  }
}
#footer_logo:hover {
  & #footer_logo_word {
    color: var(--font-gold);
    transition: 0.5s;
  }

  & path {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

#footer_logo_word {
    width: 120px;
    height: 31px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #fff;
}

#footer_nav {
    width: 363px;
    height: 128px;
    margin-left: 145px;
    margin-top: 87px;

    & ul {
      width: 363px;
      height: 128px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px 150px;
    }
}

#footer_social {
  width: 340px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 397px;
  margin-top: 162px ;
}

.footer_social_images_container {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 1px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  & .footer_social_images {
    transition: 0.5s;
  }
}
.footer_social_images_container:hover {
  border: 1px solid var(--font-gold);
  transition: 0.5s;

  & .footer_social_images {
    fill: var(--font-gold);
    transition: 0.5s;
  }
}

#footer_line {
  max-width: 1920px;
  width: 100%;
  height: 1px;
  background-color: #666;
}

#footer_links {
  width: 1440px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_link {
  font-family: var(--first-family);
  font-weight: 100;
  font-size: 21.6px;
  line-height: 100%;
  letter-spacing: 0.09em;
  color: #fff;
  transition: 0.5s;
}
.footer_link:hover {
  color: var(--font-gold);
  transition: 0.5s;
}

#footer_link2 {
  margin-left: 70px;
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000;
}